<a href="https://colab.research.google.com/github/MajiTeh/Online_Retail_Prediction/blob/main/Online_Retal_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
data = pd.read_csv('/content/sample_data/online_retail.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502983 entries, 0 to 502982
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    502983 non-null  object
 1   StockCode    502983 non-null  object
 2   Description  501551 non-null  object
 3   Quantity     502983 non-null  int64
 4   InvoiceDate  502983 non-null  object
 5   UnitPrice    502983 non-null  float64
 6   CustomerID   379216 non-null  float64
 7   Country      502982 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 30.7+ MB